bios/
build/
.vscode/
!.vscode/tasks.json
orig/*
!orig/.gitkeep
*.nds
*bios.bin
/m2ctx
*.sav
*.xMAP
objdiff.json
/dsd
/dsd.exe
/dsd.pdb
/objdiff-cli
/objdiff-cli.exe
build.ninja
.ninja_*
/wibo
ghidra/exports
ghidra/*$py.class
tools/mwccarm
